{
    "plugins": [
        "react-hot-loader/babel",
        "@babel/plugin-proposal-class-properties",
        [
            "@babel/transform-runtime",
            {
                "regenerator": true
            }
        ]
    ],
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        "IE >= 11"
                    ]
                }
            }
        ],
        "@babel/react"
    ],
    "env": {
        "test": {
            "presets": [
                [
                    "@babel/env",
                    {
                        "targets": {
                            "node": "current"
                        }
                    }
                ],
                "@babel/react"
            ]
        }
    }
}
