{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "IE >= 11"]
      },
        "start": {
          "presets": [
          ]
        }
    }],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
  "transform-object-rest-spread",
  "transform-decorators-legacy",
  ["module-resolver", {
    "root": ["./src"],
    "alias": {
      "zoapp-front": "./shared"
    }
  }],
  ["transform-runtime", {
    "polyfill": false,
    "regenerator": true
  }]
  ]
}
